body {
  margin: 0;
  font-family: "Lexend Mega", sans-serif;
  color: white;
  background-color: rgb(160, 32, 240);
  font-size: 22px;
  text-align: center;
}

header {
  margin: 10;
  padding: 10;
  font-family: "Lexend Mega", sans-serif;
  color: white;
  background-color: rgb(160, 32, 240);
  font-size: 100px;
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#on {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  margin: 4px 2px;
  cursor: pointer;
}

#off {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  margin: 4px 2px;
  cursor: pointer;
}

footer {
  position:fixed;bottom:0;left:0;right:0;height:30px;
}